* {
    font-family: "Roboto", sans-serif;
}

body {
    background-color: #E0F7FA;
    color: #000;
}

.fade-out {
    opacity: 0;
    transition: opacity 3s ease;
    /* Transição suave de 3 segundos */
}

.fade-initial {
    opacity: 1;
    transition: opacity 3s ease;
    /* Transição suave de 3 segundos */
}